<!-- views/pages/about.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

<header>
    <% include ../partials/header %>
</header>

<main>
<div class="row">
    <div class="col-sm-4">    
        <div class="jumbotron">
            <a href="#" class="thumbnail">
            <img src="http://res.cloudinary.com/agent99/image/upload/v1524004452/wcs%20random/mongoose.jpg" alt=""/></a>
        </div>
    </div>

    <div class="col-sm-8">        
        <div class="well">
            <h3>It has been 7 and 1/2 weeks of coding. So what do I know?</h3>
            <h4>I know about ... </h4>
            <ul>
                <li>html and css powered with Bootstrap</li>
                <li>using linux</li>
                <li>more and more javascript</li>
                <li>using EJS template engine</li>
                <li>using web app tools such as Angular and Express</li>
                <li>some SQL (Finally! This was a career goal previously.)</li>    
                <li>and more ... (but it's past midnight as I am writing this and I need to sleep)</li>    
            </ul>
        </div>
    </div>

</div>
</main>

<footer>
    <% include ../partials/footer %>
</footer>

</body>
</html>