<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

<header>
    <% include ../partials/header %>
</header>

<main>
    <div class="jumbotron">
        <h1>What on earth?</h1>
        <br/>
        <p>Welcome to my wonderful world of coding!</p>
        

    </div>
</main>

<footer>
    <% include ../partials/footer %>
</footer>

</body>
</html>